body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #3a9ed9;
  font-family: "Tajawal", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

div {
  text-align: center;
}

p {
  line-height: 1.75;
  font-size: 1.2rem;
}

button {
  background-color: #4bcc5a !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-bottom: 0.1rem !important;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #42b54f !important;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
